.svgLine{
    position: absolute;
    left: 10rem;
    stroke-dasharray: 1543;
    animation: 9s fillSvg linear;
}
@keyframes fillSvg{
    0%{
        stroke-dashoffset: 1543;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
.generalInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.locationCont{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}
.locationPng{
    width: 120px;
    height: 120px;
}
.locationInfo{
    font-size: 18px;
    text-align: start;
    font-weight: 400;
    line-height: 28px;
    color: gray;
    width: 50%;
    margin-left: 6rem;
}
.tutustumisCont{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.handsPng{
    width: 120px;
    height: 120px;
}
.tutustumisInfo{
    font-size: 18px;
    text-align: start;
    font-weight: 400;
    line-height: 28px;
    color: gray;
    width: 50%;
    margin-right: 6rem;
}